# netbeans
**/nbproject/private/
nbproject/private/

# build artifacts
build/
dist/
**/build/
**/dist/

# java
*.class

# logs
*.log

# os
.DS_Store
Thumbs.db

# ide
.vscode/

# uploaded images
**/web/resources/images/*/*
!**/web/resources/images/*/.gitkeep